[Desktop Entry]
Name=Pinetime Flasher
Keywords=flash;flasher;companion;watch;smartwatch;pinetime;pine;pine64
Exec=pinetime-flasher
Terminal=false
Type=Application
Icon=com.arteeh.Flasher
StartupNotify=true
